<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    @RenderSection("CSS", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("JS", false)
    @RenderSection("Script", false)

</body>
</html>
