

<div class="sidebar">
    <div class="sidebar_top">
        <h3>Blog Categories</h3>
        <div class="sidebar_top_list">
            <ul>
                <li><a href="#"><span class="category-name">Asp</span> <span class="count">(6)</span><div class="clear"></div></a></li>
                <li><a href="#"><span class="category-name">sasv</span> <span class="count">(22)</span><div class="clear"></div></a></li>
                <li><a href="#"><span class="category-name">sfafvaefbewb</span> <span class="count">(44)</span><div class="clear"></div></a></li>
                <li><a href="#"><span class="category-name">asdfwehe</span> <span class="count">(32)</span><div class="clear"></div></a></li>
                <li><a href="#"><span class="category-name">Fashion</span> <span class="count">(15)</span><div class="clear"></div></a></li>
            </ul>
        </div>
    </div>
   

    <div class="clear"></div>
</div>