@model IEnumerable<DoAnASP.Areas.Admin.Models.Loai>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<div class="wrap">

    <div class="main">

        <div class="content">
          
           @foreach (var item in Model)
            {
              
                    <div class="box1">
                        <div>
                            <h2>@item.TieuDe</h2>

                            @foreach (var item1 in ViewBag.a)
                            {
                                @if(item.IDLoai==item1.IDLoai)
                                @item1.NoiDung
                        <span><a asp-action="Details" asp-route-id="@item1.IDBlog"></a></span>

                            }

                        </div>
                       
                    </div>
                
            }

        </div>
        <div class="page_links">






            <div class="clear"></div>
            <div class="page_bottom">
                <p>Back To : <a href="#">Top</a> |  <a href="#">Home</a></p>
            </div>
        </div>


    </div>

</div>
